<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

  <!-- spring framework context configuration -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
    	classpath:app-context-webservices.xml,
    	classpath:app-context-service.xml,
    	classpath:app-context-persistence.xml
    </param-value>
  </context-param>
	<context-param>
	    <param-name>spring.profiles.active</param-name>
	    <param-value>production</param-value>
	</context-param>  
  
   
  <!-- Spring Context Listener -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>   
  </listener>

  <listener>
    <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
  </listener>  
   
</web-app>